
*{
    box-sizing: border-box;
    position: relative;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* background-color: #1b1b1b; */
}


h1{
    margin-left: 20%;
    margin-top: 10vw;
}
p{
    margin-left: 20%;
}
h2{
  margin-left: 14%;
}



#aboutMeImg{
    max-width: 100%;
    max-height: 100%;
}

.card{
    
    transition: .8s ease;
    
}


.overlay {
    position: absolute;
    color: white;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    transition: .5s ease;
    background-color: #1b1b1b;
}

.card:hover .overlay {
    opacity: .6;
}

.card:hover{
    transform: scale(1.05);
    /* opacity: .5; */
}


@media screen and (max-width: 601px) {
    div {
      font-size: 15px;
    }
    #homepageTitle {
      font-size: 60px;
    }
  }


  @media screen and (min-width: 1024px) {
    div {
        font-size: 20px;
      }
    #homepageTitle {
      font-size: 100px;
    }
  }